# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/artifacts/
.idea/inspectionProfiles/
.idea/**/vcs.xml
.idea/**/uiDesigner.xml

# jars
out/

# Antlr-generated source
gen/

# visualvm files
.attach_pid*

# target files
target/

# javadoc files
src/main/java/naipmoro/gramm/doc-files/
src/main/java/naipmoro/gramm/package-info.java

# testing file
src/main/java/naipmoro/gramm/Example.java

